@import 'tailwindcss';

@theme {
	--color-custom-black: #202020;
	--color-custom-gray: #272727;
	--color-custom-tooltip-gray: #2c2c2c;
	--color-custom-slider: #2e2e2e;
	--color-custom-input: #2d2d2d;
	--color-custom-blue: #4da3ff;
	--color-custom-glass-black: rgba(255, 255, 255, 0.08);
}

/* Global Foundation */
@layer base {
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	* {
		margin: 0;
	}

	html,
	body,
	#root {
		height: 100%;
	}

	img,
	picture,
	video,
	svg {
		display: block;
		max-width: 100%;
	}

	body {
		min-height: 100vh;
		line-height: 1.5;
		-webkit-font-smoothing: antialiased;
	}

	input,
	button,
	textarea,
	select {
		font: inherit;
	}

	button {
		background: none;
		border: none;
	}

	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		overflow-wrap: break-word;
	}

	html:focus-within {
		scroll-behavior: smooth;
	}
}

/* Reusable UI Components */
@layer components {
	.switch {
		position: relative;
		display: block;
		width: 30px;
		height: 17px;
	}

	.switch input {
		opacity: 0;
		width: 0;
		height: 0;
	}

	.slider {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: #ccc;
		-webkit-transition: 0.4s;
		transition: 0.4s;
	}

	.slider:before {
		position: absolute;
		content: '';
		height: 13px;
		width: 13px;
		left: 2px;
		bottom: 2px;
		background-color: whitesmoke;
		-webkit-transition: 0.4s;
		transition: 0.4s;
	}

	input:checked + .slider {
		background-color: #4da3ff;
	}

	input:focus + .slider {
		box-shadow: 0 0 1px #4da3ff;
	}

	input:checked + .slider:before {
		-webkit-transform: translateX(13px);
		-ms-transform: translateX(13px);
		transform: translateX(13px);
	}

	.slider.round {
		border-radius: 34px;
	}

	.slider.round:before {
		border-radius: 50%;
	}

	.zoom-slider {
		transition: background 150ms linear;
	}

	.zoom-slider::-webkit-slider-thumb {
		height: 15px;
		width: 15px;
		-webkit-appearance: none;
		appearance: none;
		outline: none;
		background-color: #4da3ff; /* cyan */
		transition: transform 0.2s ease;
		border-radius: 50%;
	}
	.zoom-slider::-webkit-slider-thumb:hover {
		transform: scale(1.25);
	}

	.zoom-slider::-moz-range-thumb {
		height: 15px;
		width: 15px;
		border: none;
		appearance: none;
		border-radius: 50%;
		outline: none;
		background-color: #4da3ff;
		transition: transform 0.2s ease;
	}
	.zoom-slider:focus-visible::-moz-range-thumb {
		box-shadow: 0 0 0 3px #4da3ff;
	}

	.zoom-slider:hover::-moz-range-thumb {
		transform: scale(1.25);
	}

	/* DOM STYLE UTILITIES */
	.icon-style {
		@apply rounded-sm mt-1 p-2 hover:bg-custom-glass-black transition-all duration-150;
	}

	.icon-highlight-style {
		@apply ring-1 ring-custom-blue bg-custom-black;
	}

	.link-icon-style {
		@apply bg-custom-glass-black hover:bg-white/10 w-8 h-8 border border-white/10 p-1 rounded-sm;
	}

	.link-icon-highlight-style {
		@apply bg-custom-blue rounded-sm p-1 border border-white/5;
	}

	.shape-icon-style {
		@apply rounded-sm hover:bg-custom-glass-black p-1 h-6 w-6 transition-all duration-150;
	}

	.shape-icon-highlight-style {
		@apply ring-1 ring-custom-blue;
	}

	.popup-card-style {
		@apply absolute cursor-default shadow-sm shadow-gray-600 bg-custom-tooltip-gray p-1 top-12 left-3 rounded-md min-w-32;
	}

	.card-options-style {
		@apply p-1 hover:bg-custom-glass-black rounded-md transition-all duration-150;
	}

	.feature-div-style {
		@apply relative text-white flex flex-col justify-center items-center;
	}

	.control-label-style {
		@apply text-white/60 text-center text-sm;
	}

	.features-div-style {
		@apply flex flex-row flex-wrap gap-x-6 justify-around items-center;
	}

	.control-div-style {
		@apply flex flex-col justify-around items-center h-27 px-3 outline outline-white/30;
	}

	.resize-input-style {
		@apply w-24 outline-none hover:bg-custom-glass-black focus:bg-custom-black  border-b-[#e3e3e3] border border-x-white/10 border-t-white/10 bg-white/10 rounded-sm p-1;
	}

	.resize-error-message-style {
		@apply absolute top-15 text-red-500 text-[10px] mt-1;
	}

	.btn-primary {
		@apply px-2 py-1 min-w-32 border-none outline-none rounded-md;
	}

	.btn-secondary {
		@apply bg-custom-glass-black hover:bg-white/10 border border-white/2 text-white min-w-32 px-2 py-1 outline-none rounded-md;
	}
}

/* Atomic Helper */
@layer utilities {
	.tooltipVisible {
		opacity: 1;
		pointer-events: auto;
		transition-duration: 0.3s;
		transform: translateY(0);
	}
	.tooltipHidden {
		opacity: 0;
		pointer-events: none;
		transition-duration: 0.3s;
		transform: translateY(-4px);
	}

	.custom-scroll-bar::-webkit-scrollbar-track {
		background: transparent;
	}

	/*FireFox*/
	.custom-scroll-bar {
		scrollbar-width: auto;
		scrollbar-color: rgb(255, 255, 255, 0.5) transparent;
	}

	.disabled-ui {
		pointer-events: none;
		opacity: 0.4;
	}
}
